<h1>{{ list }}</h1>
<h3>Tasks: </h3>
 <ul>
    {% for task in list.tasks.all %}
        <li><a href="{% url 'todolist:task_detail' task.id %}">{{ task.name }}</a></li>
    {% endfor %}
 </ul>

<h3>Details: </h3>
<ul>
    <li><p>Description: {{ list.description }}</p></li>
    <li><p>Date Published: {{ list.pub_date }}</p></li>
</ul>


<form action="{% url 'todolist:list_delete' list.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>

<a href="{% url 'todolist:list_edit'  list.id %}"> Edit this list</a><br>
<a href="{% url 'todolist:task_import'  list.id %}"> Import another user's task into this list</a><br>
<a href="{% url 'todolist:index' %}"> Return to the dashboard</a>

