<h1>{{ task }}</h1>
 <ul>   
     {%  if task.done %}
         <li><p>This task is already done</p></li>
     {% else %}    
         <li><p>This task is yet to be done</p></li>
     {% endif %}
     <li><p>Added at: {{ task.date_added}}</p></li>
     <li><p>Deadline is at: {{ task.deadline}}</p></li>
     <li><p>Importance: {{ task.importance}}</p></li>
     {% if task.file %}
        <li> <a href="{{ task.file.url }}"> {{ task.file }}</a> </li>
     {% endif %}
     {% if task.image %}
        <li> <img alt="" src={{ task.image.url }}> </li>
     {% endif %}
     <li><a href="{% url 'todolist:task_delete' task.id %}"> Delete the Task!</a></li>
     <li><a href="{% url 'todolist:task_edit' task.id %}"> Edit the Task!</a></li>
     <li><a href="{% url 'todolist:task_export' task.id %}"> Share the Task!</a></li>
 </ul>

<a href="{% url 'todolist:index' %}"> Return to the dashboard</a>

