<form action="{% url 'todolist:list_create' %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Specify the details of the new to-do list</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <label for="name">Name: </label><br>
    <input type="text" name="name" id="name" value=""><br>
    <label for="description">Description: </label><br>
    <input type="text" name="description" id="description" value=""><br>
</fieldset>
<input type="submit" value="Submit">
</form>