{% extends 'base.html' %}
{% block main %}

    <h3>The link for sharing the task "{{ task }}" is below</h3>
    <button id="link-btn">Get link</button>
    <div id="link">
    </div>
    <a href="{% url 'frontend:index' %}">Return to dashboard</a>

    <script>
        $("#link-btn").click( function (){
            $.ajax({
               method: "GET",
               url: "http://127.0.0.1:8000/api/todolist/v3/tasks/{{ task.id }}/export/" ,
               success: function (response) {
                   $("#link").text(response);
               },
               cache: false
            });
            $("#link-btn").remove();
        });
    </script>

{% endblock %}